<h1>Bob's Burgers!</h1>

<h2>Burgers that are good!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{!-- {{> burgers/burger-block devoured=true}} --}}
      <li>{{this.id}} ...{{this.burger_name}}</li>    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers <br>Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{!-- {{> burgers/burger-block devoured=false}} --}}
       <li>{{this.id}} ...{{this.burger_name}}</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form" method= "POST" action="/api/burgers">

  <div class="form-group">
    <label for="Burger">Burger Name:</label>
    <input type="text" value= "" name="burger" id="burger">
  </div>

  

  <button type="submit" data-id= "{{this.id}}" devoured="{{devoured}}" class="createburger">Add Burger</button>
</form>